name: Build and push Docker images
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build image
        run: docker build -t program-6 .
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Push to Docker Hub
        run: |
          docker tag program-6 ${{ secrets.DOCKERHUB_USERNAME }}/program-6:latest
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/program-6:latest
      - name: Login to GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_PAT }}
      - name: Push to GHCR
        run: |
          docker tag program-6 ghcr.io/${{ github.actor }}/program-6:latest
          docker push ghcr.io/${{ github.actor }}/program-6:latest
